body {
  width: 95%;
  margin: 1vh auto;
  max-width: 90vw;
  font-family:
    SF Mono,
    Ubuntu,
    Menlo,
    Consolas,
    Monaco,
    Liberation Mono,
    Lucida Console,
    monospace;
}

header {
  border-bottom: 1px solid silver;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
  margin: 1ex auto 5ex auto;;
  max-width: 900px;
  text-align: center;
}

header h1, form {
  font-size: 1.25em;
  margin: 0.5ex auto;
}

header h1 img {
  height: 2.5ex;
  width: auto;
  vertical-align: text-bottom;
  margin-right: 0.5em;
}

header h1, header form {
  padding: 1.25ex 1em;
}

header form input {
  background: whitesmoke;
  border: 1px solid silver;
  font-size: 0.75em;
  margin-bottom: 0.5ex;
  padding: 0.25ex 0.5em;
}

header form input:hover {
  border: 1px solid royalblue;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  max-width: 32em;
}

table {
  margin: 1ex auto;
}

th, td {
  padding: 0.75ex 0.5em;
}

#suggestion {
  margin: 1ex auto;
}
